[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghp-import = "==2.1.0"
jupyter = "==1.0.0"
jupyter-book = "==0.13.1"
matplotlib = "==3.6.2"
openbabel-wheel = "==3.1.1.6"
rdkit-pypi = "==2022.9.3"
numpy = "==1.23.4"

[dev-packages]

[requires]
python_version = "3.10"
